<template>
    <b-modal title="Configure Card" id="configurecard">
        <p>Hallo Welt</p>
    </b-modal>
</template>

<script>
    import BootstrapVue from 'bootstrap-vue'
    export default {
        name: "MusicboxConfigureCard",
        props: {
            card: {},
            step: 1
        }
    }
</script>

<style scoped>

</style>