<template>
    <div :class="'card text-white ' + $color(card)">
        <div class="card-header">
            {{card.card_name}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{card.song_title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{$formatId(card)}}</h6>
            <p><a href="#" class="btn btn-primary">Reconfigure</a></p>
            <p class="card-text"><small class="text-muted">{{card.song_ref}}</small></p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MusicboxCard",
        props: {
            card: { }
        },
        methods: {
            $color(card) {
                switch (card.type) {
                    case "song":
                        return "bg-info";
                    case "playlist":
                        return "bg-primary";
                    case "silence":
                        return "bg-dark";
                    default:
                        return "bg-danger";
                }
            },
            $formatId(card) {
                return card.card_id.map(i => i < 16 ? '0' + i.toString(16) : i.toString(16))
                    .join(':');
            }
        }
    }
</script>

<style scoped>

</style>