<template>
<div>
    <div v-if="!connected" class="alert alert-danger" role="alert">Not connected to the MusicBox! Please reload!</div>
    <div class="jumbotron" v-if="connected && !last_card">
        <h1 class="display-4">Approach token to the sensor or pick known token</h1>
        <p class="lead">For configuring or checking a token please approach the sensor.</p>
        <hr class="my-4">
        <p>Existing tokens can also be picked and reconfigured from the list.</p>
    </div>

    <div v-if="last_card">
        Last:
        <MusicboxCard :card="last_card"/>
        <hr>
    </div>

    <b-button v-b-modal.configurecard>Launch demo modal</b-button>

    <div class="row">
        <div class="col-sm-3" v-for="card in all_cards">
            <MusicboxCard v-bind:card="card"/>
        </div>
    </div>

    <div><pre>
{{version.git_branch}}/{{version.git_commit}}
{{uptime}}
    </pre></div>

    <SystemStatus v-bind:uptime="uptime"></SystemStatus>
    <MusicboxConfigureCard :card="card_to_configure"/>
</div>
</template>

<script>
    import SystemStatus from "@/components/SystemStatus";
    import musicsocket from "@/lib/musicsocket";
    import MusicboxCard from "./MusicboxCard";
    import MusicboxConfigureCard from "./MusicboxConfigureCard";

    export default {
        name: "TheMusicbox",
        components: {
            MusicboxConfigureCard,
            MusicboxCard,
            SystemStatus
        },
        data() {
            return {
                connected: false,
                uptime: '',
                all_cards: [],
                last_card: null,
                card_to_configure: {},
                uptime: {},
                version: {}
            };
        },
        created() {
            const handler = {
                connect: (msg) => {
                    this.connected = true;
                    if (msg) {
                        this.version = msg.version;
                        this.uptime = msg.uptime;
                    }
                },
                connected: () => {},
                disconnect: () => {
                    this.connected = false;
                },
                all_cards: (msg) => {
                    this.all_cards = msg.cards;
                },
                card_touched: (msg) => {
                    this.last_card = msg.card;
                }
            };

            musicsocket.connect(handler);
        },
        methods: {
            startConfig(card) {
                this.card_to_configure = card;
                this.$root.$emit('bv::show::modal','configurecard');

            }
        }
    }

</script>

<style scoped>

</style>