<template>
  <div _id="app">
    <!--HelloWorld msg="Welcome to Your Vue.js App"/-->
    <TheMusicbox></TheMusicbox>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import TheMusicbox from "@/components/TheMusicbox";

export default {
  name: 'app',
  components: {
    TheMusicbox,
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
