<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>MusicBox</title>

</head>
<body>
<noscript>
  <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<h1>🎺 MusicBox 🎶 💃</h1>
<div id="app">
</div>
<!-- built files will be auto injected -->
</body>
</html>
